@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Manrope&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}
.line{
    height: 2px;
    background: #0A7237;
    width: 100%;
    display: inline-block;
}
.w-20{
    width: 20%;
}
body{
    overflow-x: hidden;
}
.line2{
    border-top:3px solid #0A7237;
}
.mt--2{
    margin-top: -80px;
}
.bg-icon{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
}
.main-color{
    color: #0A7237;
}
.main-color-bg{
    background: #0A7237;
}

// .row{
//     justify-content: center;
// }

.inner{
    display:flex ;
    align-items: center;
    flex-direction: column;
    width: 85%;

}

.inner-two{
    width: 100%;
    display: flex;
    justify-content: center;
}

.parent{

display: flex;
}

.navi{
    flex-grow: 1;
}
.user{
    display: flex;
    align-items: center;
    .image{
        width: 70px;
        img{
            height: 100%;
            width: 100%;

        }
    }

    .hello{
        flex-grow: 1;
        padding: 5px;
        white-space: nowrap;
    }

}


nav{
    margin-top: 20px;
    ul{
        list-style: none;
        li.active{
            background-color: #0A7237;
            a{
                color: white;
            }
        }
        li{
            a{
                display: block;
                color: black;
                text-decoration: none;
            }
            div{
                // padding: 2px;
                // border: 1px solid black;
                object-fit: cover;
                object-position: center;
                border-radius: 50%;
                overflow: hidden;
                background-color: white;
                height: 28px;
                margin-left: 10px;
                img{
                    height: 100%;
                    width: 100%;
                }
            }
            border-radius: 10px;
            background-color: rgba(209, 204, 204, 0.467);
            margin-top: 10px;
            padding: 5px;
            display: flex;
            align-items: center;
            font-size: 14px;
            cursor: pointer;
            width: 150px;

        }
    }
}

.under-title{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    .right{
        display: flex;
        div:first-of-type{
            margin-left: 10px;
        }
        div{
            cursor: pointer;
        background-color: rgba(209, 204, 204, 0.467);

        padding: 8px;
        border-radius: 10px;
        }
    }

    .left{
        cursor: pointer;
        background-color: #CD9622;
        color: white;
        padding: 10px;
        border-radius: 10px;
    }
}

.test-input{
    text-align: center;
    color: #333;
    width: 45px !important;
    height: 30px !important;
}
